In [21]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv("CleanData/flight_info_2018.csv")

df.head()

,Unnamed: 0,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,CARRIER_DELAY,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,...,NAS_DELAY,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,SECURITY_DELAY,Unnamed: 23,WEATHER_DELAY
0,0,-17.0,0.0,1521.0,NaN,1,-3.0,0.0,1519.0,GTR,...,NaN,3280,9E,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN
1,1,1.0,1.0,1535.0,NaN,1,-1.0,0.0,1519.0,GTR,...,NaN,3280,9E,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN
2,2,-12.0,0.0,1522.0,NaN,1,-2.0,0.0,1518.0,GTR,...,NaN,3280,9E,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN
3,3,13.0,13.0,1547.0,NaN,1,14.0,14.0,1534.0,GTR,...,NaN,3280,9E,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN
4,4,1.0,1.0,1535.0,NaN,1,-5.0,0.0,1515.0,GTR,...,NaN,3280,9E,ATL,10397,"Atlanta, GA",Georgia,NaN,NaN,NaN

In [23]:
df.count()

Unnamed: 0             7272370
ARR_DELAY              7130071
ARR_DELAY_NEW          7130071
ARR_TIME               7148852
CARRIER_DELAY          1400632
DAY_OF_WEEK            7272370
DEP_DELAY              7150656
DEP_DELAY_NEW          7150656
DEP_TIME               7156199
DEST                   7272370
DEST_AIRPORT_ID        7272370
DEST_CITY_NAME         7272370
DEST_STATE_NM          7272370
FL_DATE                7272370
LATE_AIRCRAFT_DELAY    1400632
NAS_DELAY              1400632
OP_CARRIER_FL_NUM      7272370
OP_UNIQUE_CARRIER      7272370
ORIGIN                 7272370
ORIGIN_AIRPORT_ID      7272370
ORIGIN_CITY_NAME       7272370
ORIGIN_STATE_NM        7272370
SECURITY_DELAY         1400632
Unnamed: 23                  0
WEATHER_DELAY          1400632
dtype: int64

In [25]:
cleaned_df = df.drop(columns =['Unnamed: 23',
                               'Unnamed: 0',
                               'CARRIER_DELAY',
                               'WEATHER_DELAY',
                               'NAS_DELAY',
                               'SECURITY_DELAY',
                               'LATE_AIRCRAFT_DELAY'])
cleaned_df.head()

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM
0,-17.0,0.0,1521.0,1,-3.0,0.0,1519.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-02,3280,9E,ATL,10397,"Atlanta, GA",Georgia
1,1.0,1.0,1535.0,1,-1.0,0.0,1519.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-09,3280,9E,ATL,10397,"Atlanta, GA",Georgia
2,-12.0,0.0,1522.0,1,-2.0,0.0,1518.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-16,3280,9E,ATL,10397,"Atlanta, GA",Georgia
3,13.0,13.0,1547.0,1,14.0,14.0,1534.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-23,3280,9E,ATL,10397,"Atlanta, GA",Georgia
4,1.0,1.0,1535.0,1,-5.0,0.0,1515.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-30,3280,9E,ATL,10397,"Atlanta, GA",Georgia

In [26]:
dropped_df = cleaned_df.dropna(how = 'any')

In [27]:
dropped_df.head()

,ARR_DELAY,ARR_DELAY_NEW,ARR_TIME,DAY_OF_WEEK,DEP_DELAY,DEP_DELAY_NEW,DEP_TIME,DEST,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,FL_DATE,OP_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM
0,-17.0,0.0,1521.0,1,-3.0,0.0,1519.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-02,3280,9E,ATL,10397,"Atlanta, GA",Georgia
1,1.0,1.0,1535.0,1,-1.0,0.0,1519.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-09,3280,9E,ATL,10397,"Atlanta, GA",Georgia
2,-12.0,0.0,1522.0,1,-2.0,0.0,1518.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-16,3280,9E,ATL,10397,"Atlanta, GA",Georgia
3,13.0,13.0,1547.0,1,14.0,14.0,1534.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-23,3280,9E,ATL,10397,"Atlanta, GA",Georgia
4,1.0,1.0,1535.0,1,-5.0,0.0,1515.0,GTR,12007,"Columbus, MS",Mississippi,2018-07-30,3280,9E,ATL,10397,"Atlanta, GA",Georgia

In [28]:
dropped_df.to_csv("CleanData/flight_info_2018_cleaned.csv")

In [ ]:
dropped_df.count()

In [ ]:
cleaned_df.columns

In [ ]:
cleaned_df.nunique()

In [5]:
dropped_df = cleaned_df.replace(['NaN'],np.nan)
dropped_df = dropped_df.dropna(how = 'any')
dropped_df.head(10)

Empty DataFrame
Columns: [ARR_DELAY, ARR_DELAY_NEW, ARR_TIME, CRS_DEP_TIME, DAY_OF_MONTH, DAY_OF_WEEK, DEP_DEL15, DEP_DELAY, DEP_DELAY_NEW, DEP_TIME, DEST, DEST_AIRPORT_ID, DEST_CITY_NAME, DEST_STATE_NM, FL_DATE, MONTH, OP_CARRIER_FL_NUM, OP_UNIQUE_CARRIER, ORIGIN, ORIGIN_AIRPORT_ID, ORIGIN_CITY_NAME, ORIGIN_STATE_NM]
Index: []

[0 rows x 22 columns]