In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("CleanData/flight_info_2018.csv")

df.head()

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,...,1019.0,143.0,0,NaN,0,20.0,0.0,32.0,0.0,91.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,...,1310.0,115.0,0,NaN,0,4.0,0.0,0.0,0.0,111.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,...,1540.0,87.0,0,NaN,0,0.0,0.0,0.0,0.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,...,1948.0,53.0,0,NaN,0,0.0,0.0,0.0,0.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,...,2317.0,25.0,0,NaN,0,0.0,0.0,0.0,0.0,25.0

In [4]:
df.count()

Unnamed: 0             7213446
FL_DATE                7213446
TAIL_NUM               7198920
OP_CARRIER_FL_NUM      7213446
ORIGIN_AIRPORT_ID      7213446
ORIGIN_CITY_NAME       7213446
ORIGIN_STATE_NM        7213446
DEST_AIRPORT_ID        7213446
DEST_CITY_NAME         7213446
DEST_STATE_NM          7213446
CRS_DEP_TIME           7213446
DEP_TIME               7101129
DEP_DELAY              7096212
CRS_ARR_TIME           7213446
ARR_TIME               7094201
ARR_DELAY              7076406
CANCELLED              7213446
CANCELLATION_CODE       116584
DIVERTED               7213446
CARRIER_DELAY          1352710
WEATHER_DELAY          1352710
NAS_DELAY              1352710
SECURITY_DELAY         1352710
LATE_AIRCRAFT_DELAY    1352710
dtype: int64

In [5]:
cleaned_df = df.drop(columns =['CANCELLED', 
                               'CANCELLATION_CODE',
                               'DIVERTED','CARRIER_DELAY',
                               'WEATHER_DELAY',
                               'NAS_DELAY',
                               'SECURITY_DELAY',
                               'LATE_AIRCRAFT_DELAY'])
cleaned_df.head()

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,221.0,111.0,756,1019.0,143.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,1108.0,128.0,1115,1310.0,115.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,1358.0,103.0,1413,1540.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,1621.0,67.0,1855,1948.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,2035.0,40.0,2252,2317.0,25.0

In [6]:
cleaned_df.fillna('NaN',inplace = True)

In [7]:
cleaned_df.count()

Unnamed: 0           7213446
FL_DATE              7213446
TAIL_NUM             7213446
OP_CARRIER_FL_NUM    7213446
ORIGIN_AIRPORT_ID    7213446
ORIGIN_CITY_NAME     7213446
ORIGIN_STATE_NM      7213446
DEST_AIRPORT_ID      7213446
DEST_CITY_NAME       7213446
DEST_STATE_NM        7213446
CRS_DEP_TIME         7213446
DEP_TIME             7213446
DEP_DELAY            7213446
CRS_ARR_TIME         7213446
ARR_TIME             7213446
ARR_DELAY            7213446
dtype: int64

In [8]:
cleaned_df.dtypes

Unnamed: 0            int64
FL_DATE              object
TAIL_NUM             object
OP_CARRIER_FL_NUM     int64
ORIGIN_AIRPORT_ID     int64
ORIGIN_CITY_NAME     object
ORIGIN_STATE_NM      object
DEST_AIRPORT_ID       int64
DEST_CITY_NAME       object
DEST_STATE_NM        object
CRS_DEP_TIME          int64
DEP_TIME             object
DEP_DELAY            object
CRS_ARR_TIME          int64
ARR_TIME             object
ARR_DELAY            object
dtype: object

In [9]:
cleaned_df.nunique()

Unnamed: 0           645299
FL_DATE                 365
TAIL_NUM               5721
OP_CARRIER_FL_NUM      7113
ORIGIN_AIRPORT_ID       358
ORIGIN_CITY_NAME        352
ORIGIN_STATE_NM          52
DEST_AIRPORT_ID         358
DEST_CITY_NAME          352
DEST_STATE_NM            52
CRS_DEP_TIME           1369
DEP_TIME               1441
DEP_DELAY              1489
CRS_ARR_TIME           1431
ARR_TIME               1441
ARR_DELAY              1528
dtype: int64

In [10]:
dropped_df = cleaned_df.replace(['NaN'],np.nan)
dropped_df = dropped_df.dropna(how = 'any')
dropped_df.head(10)

,Unnamed: 0,FL_DATE,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY
0,0,3/1/2018,N201FR,1680,12889,"Las Vegas, NV",Nevada,13204,"Orlando, FL",Florida,30,221.0,111.0,756,1019.0,143.0
1,1,3/1/2018,N201FR,681,13204,"Orlando, FL",Florida,11292,"Denver, CO",Colorado,900,1108.0,128.0,1115,1310.0,115.0
2,2,3/1/2018,N201FR,681,11292,"Denver, CO",Colorado,14747,"Seattle, WA",Washington,1215,1358.0,103.0,1413,1540.0,87.0
3,3,3/1/2018,N201FR,144,14747,"Seattle, WA",Washington,11292,"Denver, CO",Colorado,1514,1621.0,67.0,1855,1948.0,53.0
4,4,3/1/2018,N201FR,122,11292,"Denver, CO",Colorado,11298,"Dallas/Fort Worth, TX",Texas,1955,2035.0,40.0,2252,2317.0,25.0
5,5,3/1/2018,N202FR,1138,12889,"Las Vegas, NV",Nevada,10423,"Austin, TX",Texas,845,836.0,-9.0,1331,1316.0,-15.0
6,6,3/1/2018,N202FR,1141,10423,"Austin, TX",Texas,12889,"Las Vegas, NV",Nevada,1421,1416.0,-5.0,1525,1511.0,-14.0
7,7,3/1/2018,N202FR,1106,12889,"Las Vegas, NV",Nevada,12266,"Houston, TX",Texas,1615,1611.0,-4.0,2117,2115.0,-2.0
8,8,3/1/2018,N202FR,1111,12266,"Houston, TX",Texas,12889,"Las Vegas, NV",Nevada,2207,2200.0,-7.0,2342,2321.0,-21.0
9,9,3/1/2018,N203FR,1236,13487,"Minneapolis, MN",Minnesota,15304,"Tampa, FL",Florida,704,700.0,-4.0,1120,1140.0,20.0

In [16]:
dropped_df.count()

Unnamed: 0           7071818
FL_DATE              7071818
TAIL_NUM             7071818
OP_CARRIER_FL_NUM    7071818
ORIGIN_AIRPORT_ID    7071818
ORIGIN_CITY_NAME     7071818
ORIGIN_STATE_NM      7071818
DEST_AIRPORT_ID      7071818
DEST_CITY_NAME       7071818
DEST_STATE_NM        7071818
CRS_DEP_TIME         7071818
DEP_TIME             7071818
DEP_DELAY            7071818
CRS_ARR_TIME         7071818
ARR_TIME             7071818
ARR_DELAY            7071818
dtype: int64

In [17]:
dropped_df.to_csv("CleanData/flight_info_2018_cleaned.csv")